@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body{
   background-color:#ffff; 
}
header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1ea1ff;
    color: #f8f6f4;
    
}

header > .img>img{
    width: 10rem;
    height: 10rem;
    text-align: center;
    
}
.experiencia{
    text-align: center;
    position: relative;
    margin-left: 2rem;
}
.experiencia>p{
    color: #f8f6f4;
}
.experiencia >h3{
    color: #0e2d5d;
}

h1{
    color: #0e2d5d;
    position: relative;
    left: 1.5rem;
}
.title-section{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    color:#0e2d5d;
}
.logo-s{
    width: 2rem;
    border-radius: 50%;
    margin: 1rem;
}
hr{
    color: black;
    border: none;
    height:5px ;
    margin: 0.2rem 2rem;
    border-radius: 10rem;
    background-color:#0064E8;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 12rem;
    padding: 1rem;
    margin: 2rem 1rem  1rem 1rem;
    background-color:#89d6fa;
    border-radius: 20px;
    overflow: hidden;
}
.card > .img >img{
    width: 5rem;
    height: 5rem;
    margin-right: 3rem;
    object-fit: cover;
}
.card>.information > p{
    margin-bottom: 2rem;
}
.card>.information > h3{
    margin-bottom: 0.5rem;
}
.card-e > .img >img{
    width: 8rem;
    height: 8rem;
    margin-right: 3rem;
    text-align: center;
    position: relative;
    right: -1rem;
    border-radius: 50%;
}
.card-e{
    width: 10rem;
    margin: 3rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
    color: #0e2d5d;
}
.card-R{
    padding: 1rem;
    margin: 2rem;
    color: #2b221f;
    border: 4px solid #b5e7ff;
}
.information > progress[value]{
    width: 130px; 
    height:20px;
    appearance: none;
    --webkit-appearance:none;
}
progress[value]::-webkit-progress-bar{
    background-color: #e9e5dd;
    border-radius: 3rem;
}
progress[value]::-webkit-progress-value{
    background-color: #b5e7ff;
    border-radius: 3rem;
}

.personal-information{
    position: relative;
    top: 22rem;
    text-align:left ;
    line-height: 0.8rem;
}
.personal-information > h3{
    color: #0e2d5d;
}
.people > h3{
    color: #0e2d5d;
}
.personal-information{
    display: none;
}
i{
    margin: 5px;
}
@media screen {
 @media (min-width:900px ){
    body{
        display: flex;
    }
    .personal-information{
        display: inline;
    }
    header{
        width: 40rem;
        display: block;
        text-align: center;
    }
    header > .img>img{
        position: relative;
        top: 15rem;
        border-radius: 20px;
    }
    .experiencia{
        position: relative;
        top: 15rem;
        left: -1rem;
        /* text-align: justify; */
        text-align: left;
    }
    .experiencia>h3{
        text-align: center;
        position: relative;
        left: -1rem;
    }
    h1{
        position:relative;
        left: -.05rem;
    }
   a{
    color: #ffff;
   }
 }   
}